form{
    width: 10vw;
    height: 10vh;
    display: table;
}
 #button{
    color:black;
    border: o;
    border-radius: 10px;
    text-shadow: 1px 1px 1px white;
    font-size: 1rem;
    background-color: rgba(220, 0, 0, 1);
}